---
import GitHub from "./icons/GitHub.astro"
import Laravel from "./icons/Laravel.astro"
import Mysql from "./icons/Mysql.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  LARAVEL: {
    name: "Laravel",
    class: "bg-black text-white",
    icon: Laravel,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-black text-white",
    icon: Mysql,
  },
}
const PROJECTS = [
  
  {
    title: "Sistema gestión de tareas",
    description:
      "Herramienta enfocada a empresas con necesidad de gestionar y monitorear tareas y empleados. creado desde cero con laravel, mysql y plantilla NobleUI.",
    link: "https://tareas.famdl.net",
    image: "/projects/sisTareas.webp",
    tags: [TAGS.LARAVEL, TAGS.MYSQL],
  },
  {
    title: "El dorado - sorteos",
    description:
      "Plataforma para participar en diferentes sorteos, apartado de tickets, máquina de la suerte, generador de boletos en pdf. Creado desde cero con laravel y livewire.",
    link: "https://sorteo.famdl.net/sorteo/20",
    image: "/projects/sorteos.webp",
    tags: [TAGS.LARAVEL],
  },
  {
    title: "Sistema administrador de sorteos",
    description:
      "Sistema para administrar sorteos con roles y permisos, autentificación, tareas cron para eliminar boletos apartados en su fecha límite, uso de storage para cargar imágenes. Creado desde cero con laravel y mysql.",
    link: "https://adminsorteo.famdl.net/",
    image: "/projects/adminSorteos.webp",
    tags: [TAGS.LARAVEL, TAGS.MYSQL],
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>
  
  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link} target="{_blank}" >
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



